---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | The Workbench</title>
  </head>
  <body>
    <Header currentPath={Astro.url.pathname} />
    <main class="container"><slot /></main>
    <Footer />
  </body>
</html>
